<!-- <div class="mx-auto mt-14 w-full max-w-3xl rounded-2xl border border-white/20 bg-white/15 p-8 shadow-xl backdrop-blur-xl"> -->
<div class="mx-auto mt-14 w-full max-w-3xl rounded-2xl border border-slate-200/70 bg-white/50 p-8 shadow-sm backdrop-blur">
  <slot />
</div>